* {
	margin: 0;
	padding: 0;
}

.body {
	display: block;
	background-image: url(./img/image2.png);
	background-repeat: no-repeat;
	background-size: 651px 757px;
	width: 651px;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}

.content {
	width: 100%;
	padding-top: 37.5px;
	display: flex;
	flex-flow: column;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: hidden;
}

.avatar {
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.message:first-child .avatar {
	clip-path: polygon(50% 0%, 100% 18%, 82% 100%, 18% 100%, 0% 18%);
}

.content .message:nth-child(2n) {
	align-self: flex-end;
	flex-flow: row-reverse
}

.message:nth-child(2n) .avatar {
	margin-left: 18px;
}

.content .message:nth-child(2n + 1) {
	align-self: flex-start
}

.message:nth-child(2n + 1) .avatar {
	margin-right: 18px;
}

.content .message:nth-child(3) {
	margin-bottom: 30px;
	position: relative;
}

.content .message:nth-child(4) {
	margin-top: 20px;
}

.line-data {
	position: absolute;
	top: 70px;
	right: -370px;
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 30px;
	width: 690px;
}

.data {
	position: absolute;
	top: 60px;
	right: -120px;
	color: black;
	z-index: 2;
}

.text {
	background-color: white;
	color: black;
	max-width: 470px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 15px 7px 15px;
}

.message {
	display: flex;
	margin-bottom: 20px;
}


.footer {
	padding: 20px 40px 0 20px;
	display: flex;
	flex-wrap: wrap;
}

.textarea {
	width: 590px;
	height: 129px;
	resize: none;
	color: #696969;
	padding: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.form .button {
	width: 144px;
	height: 41px;
	background: #0F54B9;
	color: #ffffff;
	border-radius: 21px;
	border: #0F54B9;
}

.hr {
	border: none; 
    color: #DBDBDB; 
    background-color: #DBDBDB; 
    height:1px;
}
